.notFound {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  min-height: 100% !important;
  font: 22px bold Arial, Helvetica, sans-serif;
  line-height: 22px;
}
