.wrapper {
  border-radius: 8px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  text-align: right;
  position: absolute;
  height: inherit;
  width: 100%;
  top: 0;
  bottom: 0;
}

.productTileContent {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  padding: 0 24px 16px;
  background: linear-gradient(
                  0.83deg,
                  rgba(#000000, 0.72) 1.65%,
                  rgba(#000000, 0.37) 57.73%,
                  rgba(#000000, 0) 98.65%
  );
  opacity: 1;
  transition: opacity 0.3s;
}

.productName {
  font: 500 18px/24px Montserrat, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
}

.productTileHoverContent {
  position: absolute;
  padding: 16px 24px;
  left: 0;
  right: 0;
  box-sizing: border-box;
  font: italic bold 20px/24px, Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  background: rgba(#000000, 0.29);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  text-align: right;
}

.wrapper:hover {

  .productTileContent {
    opacity: 0;
  }

  .productTileHoverContent {
    opacity: 1;
  }

}
