.productsWrap {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  margin-top: 50px;
}

@media (min-width: 1920px), (max-width: 1920px) {
  .column {
    width: calc(20% - 1.79em);
    flex: 0 1 calc(20% - 1.79em);
    padding-bottom: calc(20% - 1.79em);
    margin-bottom: 32px;
    position: relative;
    &:nth-child(1n) {
      margin-left: 0;
    }
    &:nth-child(5n - 3),
    &:nth-child(5n - 2),
    &:nth-child(5n - 1),
    &:nth-child(5n) {
      margin-left: 32px;
    }
  }
}

@media (max-width: 1680px) {
  .column {
    width: calc(25% - 1.6em);
    flex: 0 1 calc(25% - 1.6em);
    padding-bottom: calc(25% - 1.6em);
    margin-bottom: 32px;
    position: relative;
    &:nth-child(1n) {
      margin-left: 0;
    }
    &:nth-child(4n - 2),
    &:nth-child(4n - 1),
    &:nth-child(4n) {
      margin-left: 32px;
    }
  }
}

@media (max-width: 1280px) {
  .column {
    width: calc(33% - 1.3em);
    flex: 0 1 calc(33% - 1.3em);
    padding-bottom: calc(33% - 1.3em);
    margin-bottom: 32px;
    position: relative;
    &:nth-child(1n) {
      margin-left: 0;
    }
    &:nth-child(3n - 3),
    &:nth-child(3n - 1),
    &:nth-child(3n) {
      margin-left: 32px;
    }
  }
}

.experienceTile {
  position: absolute;
  background-size: cover;
  height: inherit;
  width: 100%;
  top: 0;
  bottom: 0;
}
